<div style="width:80%;"><h2>De nombreuses associations existent à travers la Lorraine.</h2>
  <p>Les structures adhérentes à Mirabel-LNE sont marquées en gras.</p>
  <p>Alternativement, une <a href="/omassoc" style="font-size: large">carte par canton</a> ainsi qu'une <a href="/assocs" style="font-size: large">liste texte</a> sont disponibles.</p>
  <p>Une <a href="/assocsf" style="font-size: large">recherche par thématique</a> est aussi accessible.</p>
</div>
<p>&nbsp;</p>

<div id="mapdesc" style="float:left; margin-left: 375px;">
  [assocs]
</div>
<img class="map" src="[imgsrc]" usemap="#lorraine">
<map name="lorraine">

<!--
    spaces in the polylines bug the validator:
    https://www.w3.org/Bugs/Public/show_bug.cgi?id=7184

    area href are mandatory: but "#" scrolls up
  -->
<area href="javascript:return false;"
      shape="poly" alt="Vosges" title="88"
      coords="299,219,295,220,292,221,289,223,285,223,282,224,279,224,278,227,276,229,272,233,269,234,266,231,263,236,262,241,260,238,256,238,254,237,250,236,247,234,244,236,242,234,239,232,236,235,236,233,236,225,232,225,229,229,229,234,230,237,228,235,225,232,223,232,219,235,218,235,214,236,211,235,206,236,204,239,204,239,203,235,198,237,195,238,194,237,192,235,191,231,185,234,186,236,184,238,179,238,176,240,176,236,171,237,170,238,171,242,166,246,166,244,163,241,160,245,154,244,150,247,146,247,146,243,144,239,143,237,139,239,139,235,143,234,143,232,137,230,137,234,136,238,133,234,136,229,136,224,138,222,138,219,133,218,125,218,122,221,118,220,118,221,115,224,114,226,112,225,109,224,104,224,102,225,102,228,102,231,100,232,99,230,98,229,96,232,94,231,92,229,87,232,84,233,84,237,80,234,75,234,75,235,73,236,70,240,71,241,74,243,72,247,75,251,75,249,78,247,80,247,83,247,86,249,88,253,88,255,93,259,95,262,99,259,100,263,103,265,103,270,104,271,108,271,111,271,113,274,115,278,114,280,112,278,108,281,109,286,108,288,105,291,106,295,102,296,102,299,103,302,104,301,106,300,110,301,111,301,113,307,116,309,121,311,122,314,124,317,125,319,122,320,120,320,122,323,124,326,125,325,129,322,132,328,134,328,136,329,139,328,139,321,143,318,146,322,143,325,142,328,143,330,146,329,148,325,151,325,154,323,154,319,162,314,165,313,167,311,172,314,173,318,174,318,173,323,171,325,174,326,177,325,181,328,182,328,185,327,188,325,194,326,199,323,202,325,204,324,209,328,210,331,212,334,216,338,225,335,227,330,233,326,239,331,238,335,239,336,247,341,257,346,259,350,264,352,269,348,276,344,273,338,275,336,276,333,272,331,275,332,275,330,277,329,275,328,275,327,276,322,279,318,279,314,286,311,293,298,296,295,296,291,295,288,297,284,295,280,298,279,303,277,303,271,306,265,308,262,310,257,312,254,310,254,311,251,309,249,307,250,305,252,303,250,300,249,296,247,301,241,300,241,297,238,298,236,297,233,300,233,300,230,301,230,300,225,302,222" />

<area href="javascript:return false;"
      shape="poly" alt="Moselle" title="57"
      coords="142,24,142,28,142,31,143,34,142,38,138,40,142,44,141,49,146,52,146,54,143,57,147,61,151,60,152,68,153,70,155,73,153,75,153,79,150,81,148,83,150,85,153,87,154,89,151,91,150,93,151,96,152,100,143,100,140,102,141,105,145,110,151,113,155,116,157,119,157,121,156,125,163,125,164,128,166,129,169,132,171,134,173,132,174,133,178,135,181,132,182,134,183,133,186,132,189,134,192,138,193,138,195,139,195,141,193,143,192,144,194,147,192,147,191,150,191,152,193,152,194,153,197,153,194,156,199,157,200,158,200,163,205,164,207,163,210,162,212,164,214,166,216,166,219,168,220,168,222,169,224,171,224,169,226,169,230,173,235,175,237,177,239,179,241,179,241,181,243,187,244,185,248,185,250,186,254,186,255,189,257,192,263,192,265,193,271,194,272,195,274,193,277,193,278,196,283,196,287,196,287,200,287,202,291,204,292,207,295,212,303,212,308,212,312,210,319,205,322,200,325,194,322,192,324,191,327,188,324,186,321,185,318,181,321,180,323,178,323,175,325,173,324,171,327,166,326,162,323,161,321,157,318,156,315,155,312,152,310,150,305,151,307,155,304,159,302,161,298,162,296,162,297,157,296,156,293,154,294,152,300,151,300,148,295,147,291,145,288,142,282,142,282,139,276,134,283,135,285,128,287,129,291,129,289,123,294,120,293,118,294,116,296,111,294,107,296,106,301,106,302,114,302,116,305,120,309,121,315,124,318,122,325,127,326,131,331,134,334,130,338,130,342,130,345,127,352,128,355,131,360,135,362,130,366,126,366,120,368,116,372,111,367,107,361,107,357,101,356,99,353,95,353,89,345,90,342,86,338,88,336,89,336,91,333,95,329,95,327,96,324,99,321,98,317,96,314,97,311,98,309,96,306,98,303,97,299,92,297,97,295,100,292,101,292,98,289,92,290,85,288,85,283,82,280,82,279,78,276,78,273,82,271,82,265,79,265,81,264,84,267,87,265,91,260,91,256,89,251,89,248,89,248,85,250,82,251,80,246,78,245,75,243,71,239,68,235,64,231,58,227,54,231,52,232,50,229,46,224,43,224,39,222,38,214,31,211,31,207,29,200,33,193,28,187,24,183,21,179,21,172,22,171,27,167,30,163,33,158,31,156,33,152,34,148,34,148,32,148,28,143,24" />

<area href="javascript:return false;"
      shape="poly" alt="Meurthe-et-Moselle" title="54"
      coords="117,14,116,16,112,19,111,17,107,15,103,15,102,18,100,22,93,20,91,17,88,22,83,24,80,23,79,23,72,26,76,26,77,29,79,29,80,33,81,35,82,38,84,40,77,41,81,46,83,42,85,41,89,39,92,38,98,38,101,36,103,35,105,38,108,40,109,43,111,46,113,49,117,53,112,56,114,61,116,60,117,59,120,62,119,67,117,68,113,69,113,75,116,76,116,78,113,78,113,83,115,82,117,81,119,81,119,85,117,87,116,90,118,92,120,93,118,98,120,100,121,101,124,101,127,101,127,103,124,106,124,110,129,109,131,111,132,113,129,114,127,114,127,119,126,121,123,122,123,127,125,127,130,127,131,129,129,132,130,133,127,132,125,131,125,135,120,135,118,135,117,138,119,139,122,142,122,143,121,146,121,148,123,149,122,151,122,156,120,158,121,161,120,160,120,163,116,166,115,170,114,173,116,176,118,178,118,181,120,183,117,184,116,185,116,188,116,192,118,193,119,194,124,194,124,197,124,200,123,198,122,198,119,198,117,199,115,200,113,201,112,203,112,205,112,206,114,208,116,208,119,208,121,211,122,212,118,217,118,220,122,221,125,218,133,218,138,219,138,222,136,224,136,229,133,234,136,238,137,234,137,230,143,232,143,234,139,235,139,239,143,237,144,239,146,243,146,247,150,247,154,244,160,245,163,241,166,244,166,246,171,242,170,238,171,237,176,236,176,240,179,238,184,238,186,236,185,234,191,231,192,235,194,237,195,238,198,237,203,235,204,239,204,239,206,236,211,235,214,236,218,235,219,235,223,232,225,232,228,235,230,237,229,234,229,229,232,225,236,225,236,233,236,235,239,232,242,234,244,236,247,234,250,236,254,237,256,238,260,238,262,241,263,236,266,231,269,234,272,233,276,229,278,227,279,224,282,224,285,223,289,223,292,221,295,220,299,219,303,218,303,215,299,215,295,212,292,207,291,204,287,202,287,200,287,196,283,196,278,196,277,193,274,193,272,195,271,194,265,193,263,192,257,192,255,189,254,186,250,186,248,185,244,185,243,187,241,181,241,179,239,179,237,177,235,175,230,173,226,169,224,169,224,171,222,169,220,168,219,168,216,166,214,166,212,164,210,162,207,163,205,164,200,163,200,158,199,157,194,156,197,153,194,153,193,152,191,152,191,150,192,147,194,147,192,144,193,143,195,141,195,139,193,138,192,138,189,134,186,132,183,133,182,134,181,132,178,135,174,133,173,132,171,134,169,132,166,129,164,128,163,125,156,125,157,121,157,119,155,116,151,113,145,110,141,105,140,102,143,100,152,100,151,96,150,93,151,91,154,89,153,87,150,85,148,83,150,81,153,79,153,75,155,73,153,70,152,68,151,60,147,61,143,57,146,54,146,52,141,49,142,44,138,40,142,38,143,34,142,31,142,28,142,24,139,24,130,24,129,21,124,14" />

<area href="javascript:return false;"
      shape="poly" alt="Meuse" title="55"
      coords="69,0,67,6,62,6,57,13,55,13,54,15,50,12,47,10,44,10,40,10,36,7,32,5,31,9,31,12,28,12,30,16,29,20,24,21,24,23,26,26,28,28,30,31,32,32,32,36,29,37,31,39,27,42,27,44,30,45,29,48,24,49,24,51,23,53,19,55,21,58,21,60,21,63,23,64,22,70,19,69,11,73,10,74,14,77,14,80,8,84,8,87,11,90,11,94,13,96,14,101,17,103,15,108,16,111,14,112,10,118,17,113,19,115,22,118,20,122,16,124,16,127,18,126,21,125,21,129,18,131,15,135,9,134,7,138,6,140,6,144,1,145,5,147,10,151,6,153,0,157,1,162,7,163,10,167,13,169,18,173,18,176,17,177,18,178,16,183,18,185,17,185,15,188,17,194,19,196,19,196,24,193,24,201,32,201,33,203,37,208,43,208,46,214,50,214,53,217,60,217,65,223,67,224,69,224,72,228,76,232,80,234,84,237,84,233,87,232,92,229,94,231,96,232,98,229,99,230,100,232,102,231,102,228,102,225,104,224,109,224,112,225,114,226,115,224,118,221,118,217,122,212,121,211,119,208,116,208,114,208,112,206,112,205,112,203,113,201,115,200,117,199,119,198,122,198,123,198,124,200,124,197,124,194,119,194,118,193,116,192,116,188,116,185,117,184,120,183,118,181,118,178,116,176,114,173,115,170,116,166,120,163,120,160,121,161,120,158,122,156,122,151,123,149,121,148,121,146,122,143,122,142,119,139,117,138,118,135,120,135,125,135,125,131,127,132,130,133,129,132,131,129,130,127,125,127,123,127,123,122,126,121,127,119,127,114,129,114,132,113,131,111,129,109,124,110,124,106,127,103,127,101,124,101,121,101,120,100,118,98,120,93,118,92,116,90,117,87,119,85,119,81,117,81,115,82,113,83,113,78,116,78,116,76,113,75,113,69,117,68,119,67,120,62,117,59,116,60,114,61,112,56,117,53,113,49,111,46,109,43,108,40,105,38,103,35,101,36,98,38,92,38,89,39,85,41,83,42,81,46,77,41,84,40,82,38,81,35,80,33,79,29,77,29,76,26,72,26,79,23,77,21,81,18,80,12,78,8,75,4" />

</map>

<div id="assoimg" style="margin-left: 50px; position: absolute;"></div>
