/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ccc;
}

ul.nice-menu li {
  /*border: 1px solid #ccc; */
  border-top: 0;
  float: left; /* LTR */
  /*background-color: #eee;*/
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul {
  /*top: 1.8em;*/
  top: 2.38em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 15.3em;
  /*max-width:  -moz-max-content;*/
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
    width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
  /*border-top: 1px solid #ccc;*/
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  /*max-width:  -moz-max-content;*/
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #eee;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

/* <li> radius to follow Bartik top-level <li> style */
#main-menu-links ul.menu a {
    border-radius: 0;
}
#main-menu-links ul.menu li.leaf {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
#main-menu-links ul.menu li.last {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* #48A9E4 Bartik header equivalent
   works if:
   * arrow background-images are removed
   * <a> background-color set to transparent
   (see below) */
#main-menu-links ul.menu li {
  /*background-color: rgba(72, 169, 228, 0.3);*/
  background-color: rgba(192, 192, 192, 0.7);
}

#main-menu-links ul.menu a {
  background-color: transparent;
  text-shadow: none;
  font-weight: bold;
  /* multiline <li> entries */
  height: inherit;
}

/* Bartik <a> hover equivalent */
#main-menu-links ul.menu li:hover,
#main-menu-links ul.menu li:focus {
  background: #f6f6f2;
  background: rgba(255, 255, 255, 0.95);
}

/* @see mirabel-custom.css for .active-trail override */

# Local variables:
# css-basic-offset: 2
# css-indent-offset: 2
# End:
