/* start: touch customization */
@media screen and (min-width: 1200px) {
  /* was 960px: +200px */
  body, #wrapper, #content-body, #main-menu, #header-top {
    width: 1160px;
  }
  /* was 720px: +200px */
  body.sidebar-first #main, body.sidebar-second #main {
    width: 920px;
  }
  /* was 300px: +130px */
  .node-teaser {
    width: 430px;
  }
}

body.front #main article {
  min-height: 250px;
}

#content-body {
  padding: 0px;
}

/* communiqués de presse, events, bibliothèque: */
div.view-presse ul {
  list-style-type: none;
}

div.mirabel-assoc-view li {
  margin-top: 15px;
}

#header {
  margin-top: 0;
}

section#main .node-teaser {
  height: auto;
}

section#main .node-teaser div.file-image {
  float: left;
  margin-right: 10px;
}
/* needed when both image and PDF link are displayed
   in teaser mode to avoid mungling the PDF link */
section#main .node-teaser div.file-application {
  clear: left;
}

/* image vert-align in /events view */
div.view-id-presse.view-display-id-page_1 ul {
  list-style: none
}
div.view-id-presse.view-display-id-page_1 span.file-styles img {
  vertical-align: middle;
  float: left;
  margin-right: 15px;
}
/*
  update 09-2012: now applies to "Illustration" field
  always a bit of a mess to play with views: see the custom template
  think that this css is bound to very specific display settings.
  */
div.view-id-presse.view-display-id-page_1 span.views-field-field-illustration {
  min-width: 115px;
  display: inline-block;
}
div.view-id-presse.view-display-id-page_1 span.views-field-field-illustration img {
  vertical-align: middle;
  float: left;
  margin-right: 15px;
}
/* see views-view-fields--presse--page-1.tpl.php */
div.view-id-presse.view-display-id-page_1 div.views-field-field-MYillustration {
  min-width: 115px;
  min-height: 100px;
  float: left;
  display: inline;
}


div.view-id-presse.view-display-id-page_1 li {
  clear: both;
  height: 100px;
}
div.view-id-presse.view-display-id-page_1 li.views-row {
  margin-top: 15px;
}

/* theme: Thématiques environnementales */
#main div.view-id-theme_env td {
  text-align: center;
}
div.view-id-theme_env td div.views-field-name {
  font-size: 1.3em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

/* the widget in /massoc */
img.assomap {
  margin-right: 10px;
  /*max-height: 30px;*/
  max-width: 30px;
  vertical-align: middle;
}

/* overrides touch 10px top margin */
#header-top #logo { 
  margin-top: 0;
}

/* pop up the main menu */
#header-top #logo a img {
  margin-bottom: -20px;
}

#sidebar-first .block {
  background-color: #e0e0e0;
}

/* even the last <li> in sidebars get a
   bottom border */
#sidebar-first li.last, #sidebar-second li.last {
  border-bottom: medium none;
}


/* bloc RSS */
#block-mirabel-mirabel-feedroll.block {
  background-color: #E1FABF;
}

/* arrow alignments for RSS items */
#block-mirabel-mirabel-feedroll.block li {
  background-position: left top;
  /* but keep 17px left-padding */
  padding: 0 0 0 17px;
}

/* bloc des dossiers thématiques */
#sidebar-first #block-views-dossiers-block-1 {
  background-color: lightGoldenRodYellow;
}

/* search input text color */
#header-top .search-box .form-text {
  color: blue;
}

/* nouvelle banière 2013 */
#header-top .search-box {
  margin-top: 9px;
}

/* icône inline pour le block des dossier */
div.view-dossiers.view-display-id-block img {
  /*float: left;*/
  float: right;
  margin-right: 5px;
  vertical-align: middle;
}
/* par conséquent, à cause du float dont l'on se passerait
   bien, ... */
div.view-dossiers.view-display-id-block ul {
  line-height: 25px;
}

/* when using a custom view to display a given
   node on the front page */
/*div#block-views-mis-en-vidence-block article.node {*/
div#highlighted article.node {
  float: none;
  width: auto;
}
div#highlighted article.node span.submitted {
  display: none;
}

/* avoid wrapping, see bug #1763944: */
/* some lines */
.front .content article {
  border-top: 1px solid #888888;
}
/* frontpage */
.front div.content article.node-teaser:nth-child(even) {
  float:right;
  clear:right;
}
.front div.content article.node-teaser:nth-child(odd) {
  float:left;
  clear:left;
}

/* same for press */
.page-presse section#main li.views-row article {
  border-top: 1px solid #888888;
}
.page-presse section#main div.view-content li:nth-child(even) {
  float:right;
  clear:right
}
.page-presse section#main div.view-content li:nth-child(odd) {
  float:left;
  clear:both;
}

# Local variables:
# css-indent-offset: 2
# End:
