/* start: bartik customization */
#site-slogan {
  font-size: 1.2em;
}

#main-menu {
  clear: none;
}

#logo img {
  max-height: 128px;
}

/* both together or above height increasable to 135px */
#name-and-slogan {
  padding-top: 20px;
}
#logo {
  padding-bottom: 0px;
  padding-top: 5px;
}

/* customize header */
/*#header {
  // #FF0000, #FFA500, #FFFF00, #008000, #0000FF, #4B0082, #EE82EE
  background: -moz-linear-gradient(top, red, orange, rgba(255,255,0,0.3), rgba(0,128,0,0.5), blue, indigo, rgba(238,130,238,0.3));
}
*/
/* end: bartik customization */

img.mirabel-viewpdf {
  margin-left: -50px;
  margin-top: 10px;
  position: absolute;
}
/* front page PDF icon problem */
body.front img.mirabel-viewpdf {
  /*margin-left: -35px;*/
  margin-left: -26px;
  width: 22px;
  height: 22px;
}

div#block-mirabel-mirabel-feedroll {
  background-color: rgba(255, 255, 0, 0.3);
}

/* uppercase assoc' names in /assocs views */
div#content div.content div.view.mirabel-assoc-view div.views-field.views-field-title a {
  font-size: larger;
  text-transform: uppercase;
}

div#content div.content div.view.mirabel-assoc-view li.views-row {
  margin-top: 15px;
}

/* image vert-align in /events view */
div.view-id-presse.view-display-id-page_1 ul {
  list-style: none
}
div.view-id-presse.view-display-id-page_1 span.file-styles img {
  vertical-align: middle;
  float: left;
  margin-right: 15px;
}
div.view-id-presse.view-display-id-page_1 li {
  clear: both;
  height: 100px;
}
div.view-id-presse.view-display-id-page_1 li.views-row {
  margin-top: 15px;
}

/* round the left blocks corners */
div#sidebar-first div.block {
  border-radius: 20px;
}


/* french "up" => "haut" translation
   needs a width increment */
.book-navigation .page-up {
  width: 5%;
}

/* override bartik's color.css, for nice_menus sub<ul>
   because we use the <li> color
   The top-level ones keep their original color though */
#main-menu-links ul li a.active,
#main-menu-links ul li.active-trail a,
#main-menu-links li.active-trail ul.menu a {
  background-color: transparent;
}

#main-menu-links ul.menu li.active-trail {
  background-color: rgba(255,255,255, 0.95);
}

/*
   http://www.quirksmode.org/css/display.html
   https://developer.mozilla.org/en/CSS/max-width
   https://drupal.org/node/1418928
   */
/* deactivated for now */
/*
   ul.nice-menu ul li {
  width: auto;
}
ul#main-menu-links.nice-menu ul.menu,
ul#main-menu-links.nice-menu ul.menu li.menuparent {
  width: -moz-max-content;
}

ul#main-menu-links.nice-menu ul li.menuparent a {
  //vertical-align: top;
  display: inline;
}
ul#main-menu-links.nice-menu ul li.menuparent ul.menu {
  display: inline-block;
  top: auto;
  left: auto;
  position: relative;
}
*/


/* theme: Thématiques environnementales, fixe la grille */
div.view-id-theme_env tr {
  background: none;
}
div.view-id-theme_env td {
  text-align: center;
  border-color: black;
}
div.view-id-theme_env td div.views-field-name span {
  text-transform: capitalize;
  font-size: 1.2em;
}

div.mirabel-term-listing-heading {
  text-align: center;
}

/* the widget in /massoc */
img.assomap {
  margin-right: 10px;
  /*max-height: 30px;*/
  max-width: 30px;
  vertical-align: middle;
}

/* hide some tools menu entry for visitors */
body.not-logged-in div#block-menu-menu-outils {
  /**/
}

div.mirabel-term-listing-heading img {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}
