#map-blocksubmit {
  clear: right;
  float: right;
  text-transform: uppercase;
  text-align: center;
}
#map-submit input {
  font-size: large;
  border-radius: 10px;
  font-size: large;
  padding: 2px;
}
/*#map-submit a {
  font-weight: bold;
  text-decoration: underline;
  color: brown;
}*/
#map-updstatus {
  font-size: large;
}
#mapdesc {
  width: auto;
  margin-left: 530px;
}
#map-assoville, #map-assoloc {
  margin-left: 5px;
  font-style: italic;
}
