<script type="text/javascript">
  // we build a per-canton indexed array client-side
  Drupal.settings.mirabel_map.cantons = {};
  jQuery(document).ready(function () {
    init(true);
    Drupal.mirabel.initcantons();
  });
</script>
<div>
  <h2>Retrouver une association aux alentours.</h2>
  <p>Alternativement, une <a href="/massoc" style="font-size: large">carte départementale</a> ainsi une <a href="/assocs" style="font-size: large">liste texte</a> sont disponibles.</p>
  <p>Une <a href="/assocsf" style="font-size: large">recherche par thématique</a> est aussi accessible.</p>
</div>
<div id="map" style="width: 100%; height: 500px;"></div>
