<script type="text/javascript">
  jQuery(document).ready(function () {
   init();
   Drupal.mirabel.initselect();
  } );
</script>
<div id="map" class="smallmap" style="height: 600px; width: 512px; float:left"></div>
<div id="mapdesc">
  <form accept-charset="UTF-8" method="post">
    <p style="margin: 0">
      <label for="map-assolist">Associations</label>
      <select id="map-assolist" class="form-select" onchange="Drupal.mirabel.changeasso()">
	<option value="_none">- Aucun -</option>
      </select>
    </p>

    <div id="map-assoimg" style="float:right"></div>
    <div id="map-assodesc"></div>
    <div id="map-assoville"></div>

    <div id="map-blocksubmit">
      <div id="map-submit">
	<input type="button" value="Valider" onclick="Drupal.mirabel.updateCantons()" />
      </div>
      <div id="map-updstatus"></div>
    </div>

    <label for="txtedit-cantons">Canton(s) pour cette association:</label>
    <div id="txtedit-cantons"></div>

    <input type="hidden" id="edit-cantons" value="" />
  </form>
</div>

<div style="clear:both">Canton : <span id="mapinfobox"></span></div>
